	html {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
		}
  
    body {
      background-color: black;
      position: absolute;
      left: 0px;
      right: 0px;
      margin: 0px;
      padding: 0px;
      height: 100vh;
      width: 100vw;
      z-index: -3;
    }


    header h1 {
      color: white;
    }



		nav ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			align-items: center;
			gap: 2rem;
		}

		nav ul a {
			text-decoration: none;
			color: white;
		} 
  
    @keyframes rotate {
      from {
        transform: rotate(0deg) scale(1, 1); /* Ensure you use transform here */
      }

      50% {
        transform: rotate(180deg) scale(1, 1.5);
      }

      to {
        transform: rotate(360deg) scale(1, 1); /* This applies the 360-degree rotation */
      }
    }


    #blob {
      background-color: white;
      height: 500px;
      aspect-ratio: 1;
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      border-radius: 50%;
      background: linear-gradient(
      to right, 
      aquamarine,
      mediumpurple
      );
      animation: rotate 20s infinite linear;
      z-index: -2;
      opacity: 50%;

    }
   
  #blur {
    position: fixed; /* Stay fixed to the viewport */
    top: 0;
    left: 0;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    padding: 0;
    z-index: -1; /* Send behind other content */
    backdrop-filter: blur(200px);
  }

  .btn {
			color: white;
			background-color: #6E32EF;
			display: inline-block;
			padding: .75rem 1.5rem;
			border-radius: .5rem;
	  	border: 1px solid #6E32EF;
      position: absolute, 100% 100%;
		}

		/* Air */



    .main_body {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    
    .sidebar {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: -100;
    }

    .menu {
      width:  15cm;
      display: flex;
      flex-direction: column;
      flex-grow: 2;
    }

    .name {
      display: flex;
      justify-content: flex-start;
    }

    .name h1 {

      font-size: 220px;
      color: white;
      font-weight: 200;
      padding: 10px;
      margin: 0px 20px;
      transition: left .4s ease-in-out;
    }

    .name h1:hover {
      left: 0%;
    }

    .summary {
      color: white;
      margin-bottom: 150px;
      font-size: 80pt;
      padding: 0cm 2cm;
    }


    .summary strong {
      background: linear-gradient(to top left, aquamarine, mediumpurple);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      z-index: 2;
      transition: all .4s;
    }

    .summary strong:hover {
      font-size: 100pt;
    }



    .menuitem {
      position: relative;
      color: white;
      font-size: 5rem;
      font-family: "Space Mono", monospace;
      inline-size: 15cm;
      padding: 0, 20px;
      margin: 0px;
      border: 0px;
      right: 0;
      white-space: nowrap;
      transition: right .2s ease-in-out, opacity .2s ease-in-out;
    }
      

    
  .menuitem a {
    text-decoration: none;
    color: white; 
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 3cm 0cm;

  }

  .menuitem a:hover {
    color: aquamarine; /* Changes color on hover for effect */
  }

  .menu {
    display: flex;
    flex-direction: column;
  }



  .menuitem:hover {
    right: -40px;
  }

    .menu:hover .menuitem {
			opacity: 0.5; /* Darken all items */
		}

		/* Restore opacity for the hovered item */
		.menu:hover .menuitem:hover {
			opacity: 1; /* Keep the hovered item fully visible */
		}

